{
  "server": {
    "host": "0.0.0.0",
    "port": 50000,
    "database": "TESTDB",
    "serverClassName": "QDB2/LINUXX8664",
    "serverName": "DB2SIM",
    "productId": "SQL11055",
    "dataEndian": "little"
  },
  "auth": {
    "requirePassword": true,
    "caseInsensitiveUser": true,
    "users": [
      { "user": "db2inst1", "password": "YourStrongPassword123" }
    ]
  },
  "trace": {
    "logCommands": true,
    "hexDump": false
  },
  "matching": {
    "ignoreCase": true,
    "collapseWhitespace": true,
    "trimTrailingSemicolon": true
  },
  "tests": {
    "db2": {
      "host": "127.0.0.1",
      "port": 50000,
      "database": "SAMPLE",
      "user": "db2inst1",
      "password": "YourStrongPassword123"
    },
    "sqlServer": {
      "host": "127.0.0.1",
      "port": 1433,
      "database": "master",
      "user": "sa",
      "password": "YourStrongPassword123"
    }
  }
}
