{
  "db2": {
    "host": "127.0.0.1",
    "port": 50000,
    "database": "SAMPLE",
    "user": "db2inst1",
    "password": "YourStrongPassword123"
  },
  "sqlServer": {
    "host": "localhost\\SQLEXPRESS",
    "database": "master",
    "user": "dev_user",
    "password": "YourStrongPassword123"
  }
}
